@import "@/scss/mixins.scss";
@import "@/scss/external-content.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply tracking-wide bg-body;

  color: #424242;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sans {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 500;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

svg {
  fill: currentColor;
}

::-moz-selection {
  background: #8faa0d2e;
  text-shadow: none;
}

::selection {
  background: #8faa0d2e;
  text-shadow: none;
}

body:not(.has-user-script) .show-for-script {
  display: none;
}

body.has-user-script .show-for-no-script {
  display: none;
}

.ui-tooltip {
  --color: #f5f9ef;
  --background: #005b46;

  position: absolute;
  z-index: 1;
  opacity: 0;
  color: var(--color);
  background-color: var(--background);
  padding: 2px 10px 4px;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.04em;
  font-weight: 500;
  border-radius: 2px;
  pointer-events: none;
  transition: 0.15s ease-in-out;
  text-wrap: nowrap;
}

.ui-tooltip--reverse {
  --color: #005b46;
  --background: #f5f9ef;
}

.ui-tooltip--left {
  top: 50%;
  right: calc(100% - 5px);
  transform: translateY(-50%) scale(0);
  transform-origin: right center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 5px solid transparent !important;
    border-left-color: var(--background) !important;
  }
}

.ui-tooltip--right {
  top: 50%;
  left: calc(100% - 5px);
  transform: translateY(-50%) scale(0);
  transform-origin: left center;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 5px solid transparent !important;
    border-right-color: var(--background) !important;
  }
}

.ui-tooltip--bottom,
.ui-tooltip--bottomRight,
.ui-tooltip--bottomLeft {
  top: calc(100% - 5px);
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: top center;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 5px solid transparent !important;
    border-bottom-color: var(--background) !important;
  }
}

.ui-tooltip--bottomRight {
  left: 12px;
  transform: scale(0);
  transform-origin: top left;

  &::after {
    left: 0;
    transform: translateX(0);
  }

  .ui-tooltip-wrapper--small & {
    left: 8px;
  }
}

.ui-tooltip--bottomLeft {
  right: 12px;
  left: auto;
  transform: scale(0);
  transform-origin: top right;

  &::after {
    right: 0;
    left: auto;
    transform: translateX(0);
  }

  .ui-tooltip-wrapper--small & {
    right: 8px;
  }
}

.ui-tooltip--top {
  bottom: calc(100% - 5px);
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 5px solid transparent !important;
    border-top-color: var(--background) !important;
  }
}

.ui-tooltip--topRight {
  left: 12px;
  transform: scale(0);
  transform-origin: top left;

  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 100%;
    transform: translateX(0);
    border: 5px solid transparent !important;
    border-top-color: var(--background) !important;
  }

  .ui-tooltip-wrapper--small & {
    left: 8px;
  }
}

@mixin tooltipShow {
  z-index: 1;

  .ui-tooltip {
    opacity: 1;
    z-index: 3;
  }

  .ui-tooltip--left {
    right: calc(100% + 20px);
    transform: translateY(-50%) scale(1);
  }

  .ui-tooltip--right {
    left: calc(100% + 20px);
    transform: translateY(-50%) scale(1);
  }

  .ui-tooltip--top {
    bottom: calc(100% + 10px);
    transform: translateX(-50%) scale(1);
  }

  .ui-tooltip--topRight {
    bottom: calc(100% + 10px);
    transform: scale(1);
  }

  .ui-tooltip--bottom {
    top: calc(100% + 10px);
    transform: translateX(-50%) scale(1);
  }

  .ui-tooltip--bottomRight,
  .ui-tooltip--bottomLeft {
    top: calc(100% + 10px);
    transform: scale(1);
  }
}

.ui-tooltip-wrapper {
  @include hoverOnDesktopActiveOnMobile {
    @include tooltipShow();
  }

  &.ui-tooltip-wrapper--active {
    @include tooltipShow();
  }
}

.ui-tooltip-wrapper--small {
  @include hoverOnDesktopActiveOnMobile {
    .ui-tooltip--right {
      left: calc(100% + 10px) !important;
    }

    .ui-tooltip--left {
      right: calc(100% + 10px);
    }
  }
}
