@import "@/scss/mixins.scss";

.ui-button-text {
  > a,
  > button {
    @apply inline-flex justify-center items-center gap-3 p-2 px-3;

    color: #075525;
    background-color: transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;

    &:disabled {
      color: #b3cbbc
    }
    
    @include hoverOnDesktopActiveOnMobile {
      color: #518601;
      background: #3cea0014;

      .ui-button-icon-marker--on-soft {
        background: white;
      }
    }

    &:active {
      color: #518601;
      background: #3cea0014;
    }

    > img,
    > svg {
      @apply size-5 flex-shrink-0;

      object-fit: contain;
      object-position: center;
      fill: currentColor;
      transition: ease-in-out 0.2s;
    }

    > span {
      font-size: 12px;    
      font-weight: 600;
      line-height: 1.4;
      white-space: nowrap;
    }
  }

  &.ui-button-text--small {
    > a,
    > button {
      @apply gap-2 p-1 px-2;

      span {
        font-size: 10px;
      }

      > img,
      > svg {
        @apply size-4;
      }
    }
  }

  &.ui-button-text--large {
    > a,
    > button {
      @apply gap-4 p-3 px-4;

      span {
        font-size: 14px;
      }
  
      > img,
      > svg {
        @apply size-8;
      }
    } 
  }
}

.ui-button-text--active {
  > a,
  > button {
    color: #518601;
    background: #3cea0014;

    > svg {
      fill: #ff8080;
    }

    @include hoverOnDesktopActiveOnMobile {
      > svg {
        fill: #ffdada;
      }
    }
  }

  &.ui-button-text--on-light {
    > a,
    > button {
      > svg {
        fill: #842d2d;
      }

      @include hoverOnDesktopActiveOnMobile {
        > svg {
          fill: #ffdada;
        }
      }
    }
  }
}


.ui-button-text--promoted {
  > a:not(:hover),
  > button:not(:hover) {
    color: black;
    background-color: #3cea0003;
    box-shadow: 0px 5px 7px -4px #08562645;
  }
}

